---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";

const title = {
  tab: "Blog",
  page: "Blog",
};

const breadCrumbs = [
  {
    url: "",
    label: "Blog"
  }
];

const allPosts = await getCollection("blog");
---

<Layout title={title} breadCrumbs={breadCrumbs}>
  <ul>
    {
      allPosts
        .filter((post: any) => !post.data.draft)
        .map((post: any) => (
          <BlogPost
            url={post.id}
            title={post.data.title}
            date={post.data.pubDate}
          />
        ))
    }
  </ul>

  <a class="blog-tags" href="/blog/tags">Etiquetas</a>
</Layout>

<style is:inline>
  a {
    display: inline-flex;
    align-items: center;
    color: var(--foreground-color);
    font-size: 0.875em;

    &:hover {
      color: var(--accent-color);
    }

    &.blog-tags {
      margin-top: calc(1em * 2);
    }
  }
</style>
