---
import {getCollection} from "astro:content";

import Layout from "../layouts/Layout.astro";
import Filter from "../components/Filter.astro";
import Item from "../components/ProjectItem.astro";

const title = {
    tab: "Projects",
    title: "Proyectos",
};

const items = await getCollection("projects", ({data}) => data.visible);
const tags = [...new Set(items.flatMap((item) => item.data.tags))];
---

<Layout title={title}>
    <p>
        Aquí encontrarás una variedad de proyectos innovadores y creativos que destacan mi experiencia en desarrollo
        web, diseño y experiencia de usuario. Desde plataformas inmobiliarias hasta portafolios artísticos, cada
        proyecto refleja mi compromiso con la calidad y la funcionalidad.
    </p>

    <section class="timeline">
        <Filter tags={tags}/>
        <ul class="timeline-list">
            {
                items.map((item, index) => (
                        <Item item={item} isLast={index === items.length - 1}/>
                ))
            }
        </ul>
    </section>

    <style>
        .timeline-list {
            list-style: none;
            padding: 0;
            margin: 1em 0;
            position: relative;
        }

        .timeline-list > :last-child::before {
            height: 2em;
        }

        @media screen and (min-width: 992px) {
            .timeline {
                max-width: 880px;
                margin: 0 auto;
            }
        }
    </style>
</Layout>
