---
import "../styles/timeline-item.css";
const { item, isLast } = Astro.props;
const { title, interval, entity, location, description, tags, certificate } =
  item.data;
---

<li class="timeline-item" data-tags={tags.join(",")}>
  <div class="timeline-connector">
    <div class="timeline-dot"></div>
    {!isLast && <div class="timeline-line" />}
  </div>

  <article class="timeline-content">
    <header class="timeline-header">
      <time class="timeline-date">{interval}</time>
      <h3 class="timeline-title">{title}</h3>
    </header>

    <div class="entity-info">
      <img
        src={entity.image.path}
        alt={entity.image.alt}
        class="entity-logo"
        width="30"
        height="30"
      />
      <a
        href={entity.url}
        target="_blank"
        rel="noopener noreferrer"
        class="entity-name"
      >
        {entity.name}
      </a>
      <span class="location">{location}</span>
    </div>

    <p class="description">{description}</p>

    {
      tags && (
        <ul class="tags-list">
          {tags.map((tag: string) => (
            <li class="tag">{tag}</li>
          ))}
        </ul>
      )
    }

    {
      certificate && (
        <a
          href={certificate}
          class="certificate-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          Ver certificado
        </a>
      )
    }
  </article>
</li>
