---
import type { CollectionEntry } from "astro:content";

type Education = CollectionEntry<"education">;

interface Props {
    item: Education["data"][number];
}

const { item } = Astro.props as Props;
const { title, interval, entity, location, description, tags, certificate } =
    item;
---

<li class="education-item">
    <header class="education-header">
        <h3>{title}</h3>
        <span class="interval">{interval}</span>
    </header>

    <div class="entity-info">
        <img
            src={entity.image.path}
            alt={entity.image.alt}
            width="30"
            height="30"
        />
        <a href={entity.url} target="_blank" rel="noopener noreferrer">
            {entity.name}
        </a>
        <span class="location">{location}.</span>
    </div>

    <p class="description">{description}</p>

    {
        tags && (
            <ul class="tags">
                {tags.map((tag) => (
                    <li class="tag">{tag}</li>
                ))}
            </ul>
        )
    }

    {
        certificate && (
            <a
                href={certificate}
                class="certificate-link"
                target="_blank"
                rel="noopener noreferrer"
            >
                Ver certificado
            </a>
        )
    }
</li>

<style>
    .education-item {
        /* Add your styles */
    }
    /* Add other style definitions */
</style>
