---
import "../styles/timeline-item.css";
const { item, isLast } = Astro.props;
const {
  name,
  year,
  logo,
  location,
  summary,
  description,
  url,
  bg_color,
  tags,
} = item.data;
---

<li class="timeline-item" data-tags={tags.join(",")}>
  <div class="timeline-item__connector">
    <div class="timeline-item__dot"></div>
    {!isLast && <div class="timeline-item__line" />}
  </div>

  <article class="timeline-item__content">
    <header class="timeline-item__header">
      <time class="timeline-item__date">{year}</time>
      <h3 class="timeline-item__title">{name}</h3>
    </header>

    <div class="timeline-item__entity">
      <img
        src={logo}
        alt={`${name} logo`}
        class="logo"
        width="200"
        height="200"
        style={`background-color: ${bg_color}`}
      />
      <a
        href={url}
        target="_blank"
        rel="noopener noreferrer"
        class="timeline-item__entity-name"
      >
        {name}
      </a>
      <span class="timeline-item__location">{location}</span>
    </div>

    <p class="timeline-item__summary">{summary}</p>

    <p class="timeline-item__description">{description}</p>

    {
      tags && (
        <ul class="timeline-item__tags">
          {tags.map((tag: string) => (
            <li class="timeline-item__tag">{tag}</li>
          ))}
        </ul>
      )
    }
  </article>
</li>
