---
import "../styles/timeline-item.css";
const { item, isLast } = Astro.props;
const {
  name,
  year,
  logo,
  location,
  summary,
  description,
  url,
  bg_color,
  tags,
} = item.data;
---

<li class="timeline-item" data-tags={tags.join(",")}>
  <div class="timeline-connector">
    <div class="timeline-dot"></div>
    {!isLast && <div class="timeline-line" />}
  </div>

  <article class="timeline-content">
    <header class="timeline-header">
      <time class="timeline-date">{year}</time>
      <h3 class="timeline-title">{name}</h3>
    </header>

    <div class="entity-info">
      <img
        src={logo}
        alt={`${name} logo`}
        class="entity-logo"
        width="200"
        height="200"
        style={`background-color: ${bg_color}`}
      />
      <a
        href={url}
        target="_blank"
        rel="noopener noreferrer"
        class="entity-name"
      >
        {name}
      </a>
      <span class="location">{location}</span>
    </div>

    <p class="summary">{summary}</p>

    <p class="description">{description}</p>

    {
      tags && (
        <ul class="tags-list">
          {tags.map((tag: string) => (
            <li class="tag">{tag}</li>
          ))}
        </ul>
      )
    }
  </article>
</li>
