---
import { getCollection } from "astro:content";
const socials = await getCollection("socials");
---

<>
  <h2>Redes Sociales</h2>
  <ul class="socials">
    {
      socials
        .map((social) => social.data)
        .map((social) => (
          <li>
            {social.network}:
            <a href={`${social.url}/${social.username}`} target="_blank">
              {`${social.url}/${social.username}`
                .replace("https://", "")
                .replace("www.", "")}
            </a>
          </li>
        ))
    }
  </ul>
</>

<style>
  .socials {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    a {
      color: var(--accent-secondary-color);

      &:hover {
        color: var(--accent-color);
      }
    }
  }
</style>
