---
import Layout from "./Layout.astro";
import { slugify } from "../utils/slugify";
import "../styles/codeBlock.css";

const LANGUAGE = "es-ES";

const { frontmatter } = Astro.props;

const title = {
  tab: `Blog: ${frontmatter.title}`,
  page: frontmatter.title,
};

const breadCrumbs = [
  {
    url: "/blog",
    label: "Blog",
  },
  {
    url: "",
    label: frontmatter.title,
  },
];

const tags = [
  ...new Set(frontmatter.tags.map((tag: string) => tag.toLowerCase())),
];
---

<Layout title={title} breadCrumbs={breadCrumbs}>
  <div class="post">
    <div class="tags">
      {
        tags.map((tag: any) => (
          <p class="tag">
            <a href={`/blog/tags/${slugify(tag)}`}>{tag}</a>
          </p>
        ))
      }
    </div>
    <span>{frontmatter.id}</span>
    <p>
      {
        new Date(frontmatter.pubDate).toLocaleDateString(LANGUAGE, {
          day: "2-digit",
          month: "long",
          year: "numeric",
        })
      }
    </p>
    <p><em>{frontmatter.description}</em></p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <slot />
    <p class="written-by">Escrito por: {frontmatter.author}</p>
  </div>
</Layout>

<style is:raw>
  .post {
    .tags {
      margin-bottom: 1em;
      display: flex;
      gap: 0.5em;

      .tag {
        background: var(--accent-color-muted);
        padding: 0.25em 0.75em;
        border-radius: 25px;
        border: 1px solid var(--accent-color-muted);
        font-size: 0.75em;
        color: var(--background-color);
        cursor: pointer;
        font-style: italic;

        a:hover {
          color: var(--background-color);
        }

        &:hover,
        &.highlight-tag {
          background: var(--accent-color);
          border-color: var(--accent-color);
        }
      }
    }

    p,
    li {
      margin-bottom: 0.5em;
    }

    p.written-by {
      margin-top: 1em;
      text-align: right;
    }

    code,
    pre,
    .code {
      font-family: var(--code-font), monospace;
      font-feature-settings:
        "calt" 1,
        "liga" 1;
      line-height: calc(var(--line-height) * 1.5);
      font-size: 1em;
      padding: 0.5em;
      margin: 0.5em 0;
      border-radius: 6px;
      overflow-x: auto;
    }

    li {
      list-style: disclosure-closed;
      margin-left: 1em;
    }
  }
</style>

<script src="../scripts/codeBlock.js"></script>
