---
import Layout from "./Layout.astro";
import "../styles/blog-post.css";
const language = "es-ES";

const { frontmatter } = Astro.props;


const tags: string[] = [
  ...new Set(frontmatter.tags.map((tag: string) => tag.toLowerCase()))
];

const title = {
  tab: `Blog: ${frontmatter.title}`,
  page: frontmatter.title
};

const breadCrumbs = [
  {
    url: "/blog",
    label: "Blog"
  },
  {
    url: "",
    label: frontmatter.title
  }
];
---

<Layout title={title} breadCrumbs={breadCrumbs}>
  <p>{
    new Date(frontmatter.pubDate).toLocaleDateString(language, {
      day: "2-digit",
      month: "long",
      year: "numeric"
    })
  }</p>
  <p><em>{frontmatter.description}</em></p>
  <p>Escrito por: {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <slot />
  <div class="tags">
    {
      tags.map((tag: any) => (
        <p class="tag">
          <a href={`/blog/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</Layout>

<style is:raw>
  .tags {
    margin-top: 1em;
    display: flex;
    gap: 0.5em;

    .tag {
      background: var(--accent-color-muted);
      padding: 0.25em 0.75em;
      border-radius: 25px;
      border: 1px solid var(--accent-color-muted);
      font-size: 0.75em;
      color: var(--background-color);
      cursor: pointer;
      font-style: italic;

      &:hover,
      &.highlight-tag {
        background: var(--accent-color);
        border-color: var(--accent-color);
        color: var(--foreground-color);
      }
    }
  }
</style>
